.container {
    display: flex;
    flex-direction: column;
}

.header,
.top-section,
.images-section,
.quote-section,
.signup-section,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo,
.header-links {
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }