.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header,
.top-section {
    display: flex;
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
    padding: 24px 200px;
}

.header-logo,
.header-links {
    display: flex;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    gap: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.top-section {
    background-color: #1F2937;
    padding: 120px 200px;
}

.top-section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.top-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.top-section button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 800;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.top-text {
    padding-right: 32px;
}

.top-image {
    height: 250px;
    width: 800px;
    background-color: gray;
    color: #E5E7EB;
}

.top-image p {
    text-align: center;
}


.images-information {
   text-align: center;
   font-size: 36px;
   font-weight: 900;
   color: #1F2937;
   margin: 48px auto;
}

.images-list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.image-wolf {
    max-width: 150px;
    text-align: center;
}

.image-wolf img{
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.image-wolf .image-text {
    color: gray;
    font-weight: 400;
}