.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.top-section {
    display: flex;
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
    padding: 24px 200px;
}

.header-logo,
.header-links {
    display: flex;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-logo img {
    height: 50px;
    width: 50px;
}

.header-links {
    gap: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.top-section {
    background-color: #1F2937;
    padding: 120px 200px;
}

.top-section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.top-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.top-section button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 800;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.top-text {
    padding-right: 32px;
}

.top-image img {
    height: 400px;
    width: 800px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.top-image p {
    text-align: center;
}

.images-section {
    padding-bottom: 80px;
}

.images-information {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px auto;
}

.images-list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.image-wolf {
    max-width: 150px;
    text-align: center;
}

.image-wolf img {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.image-wolf .image-text {
    color: gray;
    font-weight: 400;
}

.quote-section {
    text-align: center;
    background-color: #E5E7EB;
    padding: 120px 240px;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin-bottom: 12px;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    padding-right: 24px;
}

.signup-section {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.signup-box {
    border-radius: 8px;
    display: flex;
    background-color: #3882F6;
    padding: 32px 100px;
}

.signup-text {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.signup-text .title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.signup-text .info {
    color: #E5E7EB;
}


.signup-button-box {
    align-self: center;
    padding-left: 24px;
}

.signup-button-box button {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 4px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 24px;
}

.footer-text {
    color: #E5E7EB;
}